
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/about.css" rel="stylesheet" type="text/css" />
<h2>About</h2>


<div class="container imgbox">
    <img class="pp" src="~/Content/about/selin.png" alt="">
    <img class="pp" src="~/Content/about/aydin.png" alt="">
    <img class="pp" src="~/Content/about/gultug.png" alt="">
    <img class="pp" src="~/Content/about/sedat.png" alt="">
    <img class="pp" src="~/Content/about/melih.png" alt="">
</div>

<div class="row" style="margin: 30px 0;">
    <div class="col-md-3 text-center" style="padding-left: 90px;"><strong>Selin</strong><br />PO + Database Responsible</div>
    <div class="col-md-2 text-center"><strong>Aydın</strong><br />Frontend</div>
    <div class="col-md-2 text-center"><strong>Gültuğ</strong><br />Backend</div>
    <div class="col-md-2 text-center"><strong>Sedat</strong><br />Frontend</div>
    <div class="col-md-2 text-center"><strong>Melih</strong><br />Backend</div>
</div>

<div class="container">
    <div class="row" style="text-align: center; padding: 70px;">
        <h3 style="color: #23527C;"><strong>Voltran E-Commerce</strong></h3>
        <p style="text-align: justify;">
            &emsp; Voltran Rocks is a winter sports retailer with various stores throughout Turkey,
            founded in 1985 as a family-owned company. Our product range, which started with a single
            production atelier in Bursa, was initially narrow, consisting of only shirts, sweaters, trousers,
            t-shirts, and coats.
            <br />
            <br />
            &emsp; Our customer base mostly consists of winter sport enthusiasts. (That being
            said, a good portion of our sales is coming from regular outfit sales.)
            After a while, coats became very popular with the advancement of the tourism sector
            in Uludağ, thanks to the quality of products. So, the factory focused its manufacturing on
            winter clothing in the following years.
            However, being a small and local family business, it could not keep up with the larger
            companies across the country.
            <br />
            <br />
            &emsp; Thus, in order to survive in the market, Voltran Rocks decided
            to move its segment into a niche area and shifted its manufacturing to winter sports and
            winter clothing only.
        </p>
    </div>
</div>

